.glassmorphism {
  width: 10cm;
  height: 7cm;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner {
  width: 8cm;
  height: 5cm;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
